<div class='row'>
  <h2><%= "Welcome, #{@user.username}" %></h2>
</div>
<div class='row'>
  <div class='large-4 small-9  columns'>
    <%= form_for([@user, @user.tweets.build]) do |f| %>
        <%= f.text_area :description, :placeholder => "Tweet...." %>
        <%= f.submit 'Tweet', class: 'small  button  radius  left' %>
    <% end %> 
  </div>
  <div class="large-8  columns">
    <h3>Tweets....</h3>
    <hr>
    <%= render partial: "tweets/user_tweets" %>
  </div>
</div>
